body {
    margin: 0;
    padding: 0;
    background-image: url("../assets/images/IMG_5771.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: 5px;
    background-color: aliceblue;
}

.skills .second, .projects .second, .connect .second {
    display: none;
}
  
.skills:hover .first, .projects:hover .first, .connect:hover .first {
    display: none;
}
  
.skills:hover .second, .projects:hover .second, .connect:hover .second {
    display: inline;
}
