/* :root {
    --grey: #f6f7e5;
    --green: #52c5ac;
    --blue: #287253;
    --transparent: 
} */

* {
    /* font-family: 'Open Sans', sans-serif; */
    color: white;
}

nav {
    background-color: #A3C5F5;
    /* A3C5F5 */
}

/* temporarily hidden */
#passions {
    display: none;
}

.gradient {
    background-image: linear-gradient(#6B95D0, #312F29);
    display: inline-block;
/* #3C5427 #6B95D0 #517BB8 312F29*/
} 


ul {
    list-style-type: none;
}

.image-container {
    display: block;
}

.top-image, .bottom-image, .temp-image  {
    /* pointer-events: none; */
    /* display: block;
    position: absolute;
    object-fit: cover; */
    width: 100%;
    height: auto;
    z-index: -1;
}


.start-content {
    top: 33%;
    left: 20%;
    position: absolute;
    font-weight: bold;
    text-align:center;
}



.blur {
    filter: blur(40px);
}


.set-image {
    width: 400px;
    height: 100%;
}


/* .top-image {
    animation: name duration timing-function delay iteration-count direction fill-mode;
    opacity: 1;
    transform: translateY(20vh);
    visibility: visible;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .top-image.is-visible {
    opacity: 0;
    transform: none;
    visibility: hidden;
  } */

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background-color: #312F29; 
    color: white;
}